
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900px;
  font-style: normal;
}
.inter-font{
    background-color: #111111;

}
.color{
    background-color: #111111;
    position: relative;

}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.home-btn{
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 46px;
    width: 92px;
    height: 38px;
    padding: 8px 20px 8px 20px;
}
.home-btn-1{
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 42px;
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
}
.white{
    color: aliceblue;
}
.banner-body{
    color: white;
    font-weight: 900px;
    font-size: 78px;
    line-height: 93.6px;
}
.banner-p{
    color: #FFFFFF80;
    margin-bottom: 20px;
}
@import url('https://fonts.cdnfonts.com/css/miama');
                                                
.font-face{
    font-family: 'Miama', sans-serif;
    font-style: italic;
    font-weight: 300px;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}    
    
.nav-title{
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
    color: orangered;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}
.home-btn-2{
    border-radius: 42px;
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border: 1px solid whitesmoke;
    background-color: #222222;
    color: white;
}
.down-card{
    background-color: #3030308A;
    height: 96px;
    width: 206px;
    border-radius: 12px;
    border: 1px solid #FFFFFF1A;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 800px;
    top: 600px;
}
.card-one{
    color: #FFFFFF;
    font-weight: 900px;
}
.up-card{
    background-color: #FFFFFF1A;
    width: 193px;
    height: 98px;
    border-radius: 12px;
    position: absolute;
    margin-left: 1150px;
    top: 300px;
    border: 1px solid #FFFFFF1A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-two{
    color: #FFFFFF;
}
.icon-pic{
    height: 30px;
    width: 40px;
    color: #FFFFFF;
    display: none;
}

@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column;
        margin: 5px 5px;
        width: 390px;
    }
    .banner-text{
        width: 290px;
        height: 129;
    }
    .banner-pic{
        width: 100%;
    }
    .icon-pic{
        display: block;
        background-color: #FFFFFF;
    }
    .navbar{
        margin-left: 5px;
        margin-right: 5px;
    }
    .nav ul{
        margin-right: 5px;
    }
    .white{
        display: none;
    }
    .home-btn{
        display: none;
    }
    .nav-title{
        margin-right: 190px;
    }
    .home-btn-1{
        background-color: orangered;
        color: white;
        border: none;
        border-radius: 42px;
        width: 169px;
        height: 54px;
        padding: 16px 40px 16px 40px;
    }
    .home-btn-2{
        border-radius: 42px;
        width: 169px;
        height: 54px;
        border: 1px solid whitesmoke;
        background-color: #222222;
        color: white;
        padding: 16px 40px 16px 40px;
    }
    .up-card{
        background-color: #FFFFFF1A;
        width: 193px;
        height: 98px;
        border-radius: 12px;
        position: absolute;
        margin-left: 170px;
        top: 1150px;
        border: 1px solid #FFFFFF1A;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .down-card{
        background-color: #3030308A;
        height: 96px;
        width: 206px;
        border-radius: 12px;
        border: 1px solid #FFFFFF1A;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: 50px;
        top: 1560px;
    }
}
.main{
    background-color: #111111;
}
.main-text{
    color: white;
    font-weight: bolder;
    font-size: 40px;
    margin-left: 500px;
}
.main-pera{
    color: white;
    margin-left: 300px;
}
.main-pic{
    display: flex;
    padding: 10px;
    margin: 50px 200px;
    justify-content: space-between;
}
.pic-1{
    clip-path: circle();
}
.main-text-one{
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-left: 30px;
}
.main-pera-one{
    color: 
    #FFFFFF;
}
.main-text-2{
    font-weight: bold;
    font-size: 20px;
    color: white; 
    margin-left: 60px;
}
.main-pera-2{
    color: 
    #FFFFFF;
}
.main-text-3{
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-left: 50px;
}
.main-pera-3{
    color: 
    #FFFFFF;
}
.main-text-4{
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-left: 50px;
}
.main-pera-4{
    color: 
    #FFFFFF;
}
@media screen and (max-width: 576px) {
    .main-pic{
        flex-direction: column;
        margin-left: 30px;
    }
    .pic-1{
        flex-direction: column;
        margin-left: 30px;
    }
    .main-text{
        margin-left: 10px;
    }
    .main-pera{
        margin-left: 5px;
    }
    .main-text-one{
        margin-left: 30px;
    }
    .main-pera-one{
        margin-left: 5px;
        height: 36px;
        width: 231px;
    }
    .main-pera-2{
        margin-left: 5px;
        height: 30px;
        width: 230px;
    }
    .main-pera-3{
        margin-left: 5px;
        height: 36px;
        width: 231px;
    }
    .main-pera-4{
        margin-left: 5px;
        height: 36px;
        width: 231px;
    }
}

.another-run{
    background-color: #222222;
    height: 371px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.another-sec{
    background-color: #111111;
}
.another-main{
    font-style: inter;
    font-weight: bolder;
    font-size: 50px;
    line-height: 57.6px;
    color: white; 
    margin-left: 60px;
}
.another-main-pera{
    color: aliceblue;
    margin-left: 60px;
    margin-bottom: 50px;
}
.another-btn{
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 42px;
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    margin-left: 60px;
    margin-bottom: 50px;
}
.another-pic{
    height: 312px;
    width: 366px;
    border-radius: 18px;
    margin-right: 70px;
}
@media screen and (max-width: 576px) {
    .another-run{
        flex-direction: column;
        margin-left: 10px;
        height: 100%;
        width: 287px;
    }
    .another-pic{
        width: 287px;
        height: 130px;
        margin-left: 90px;
    }
}
.bmi-head{
    background-color: #111111;
}
.bmi-cal{
    font-weight: bolder;
    font-size: 40px;
    line-height: 57.6px;
    color: #FFFFFF;
    margin-left: 500px;
}
.bmi-pera{
    color: #FFFFFF;
    margin-left: 400px;
    margin-bottom: 55px;
}
.bmi-text{
    color: antiquewhite;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 200px;
}
.bmi-full{
    background-color: #222222;
    display: flex;
    height: 487px;
    width: 100%;
}
.bmi-container{
    display: grid;
    grid-template-columns: 200px 200px;
    margin: 50px 200px;
    width: 310px;
    height: 216px;
}
.item{
    color: aliceblue;
    border: 1px solid #FFFFFF1A;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bmi-up{
    margin-top: 1px;
}
.bmi-two{
    color: #FFFFFF;
}
.bmi-two-pera{
    color: #FFFFFF;
}
.bmi-form{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}
.bmi-1 input{
    border-radius: 8px;
    height: 48px;
    width: 282.5px;
    color: #FFFFFF99;
    background-color: #FFFFFF1A;
    padding: 5px 10px 5px 10px;
    font-weight: bolder;
}
.bmi-2 input{
    border-radius: 8px;
    height: 48px;
    width: 280px;
    background-color: #FFFFFF1A; 
    padding: 5px 10px 5px 10px;
    font-weight: bolder;
}
.bmi-3 input{
    border-radius: 8px;
    height: 48px;
    width: 282.5px;
    background-color: #FFFFFF1A; 
    padding: 5px 10px 5px 10px;
    font-weight: bolder;
}
.bmi-4 select{
    border-radius: 8px;
    height: 59px;
    width: 298px;
    padding: 5px 10px 5px 10px;
    background-color: #FFFFFF1A; 
    font-weight: bolder;
    color: #FFFFFF99;
}
.bmi-5 select{
    border-radius: 8px;
    width: 620px;
    height: 59px;
    background-color: #FFFFFF1A;
    padding: 12px 20px 12px 20px;
    font-weight: bolder;
    color: #FFFFFF99;
}
.bmi-btn{
    margin-top: 20px;
    margin-right: 590px;
}
.bmi-btn-down{
    background-color: orangered;
    color: #FFFFFF;
    border-radius: 42px;
    width: 224px;
    height: 54px;    
}
@media screen and (max-width: 576px) {
    .bmi-cal{
        margin-left: 5px;
        height: 100%;
        width: 350px;
    }
    .bmi-text{
        margin-left: 5px;
    }
    .bmi-pera{
        margin-left: 5px;
    }
    .bmi-full{
        background-color: #222222;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .bmi-container{
        display: grid;
        grid-template-columns: 150px 150px;
        margin: 5px;
        width: 210px;
        height: 100%;
    }
    .bmi-form{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .bmi-1 input{
        height: 48px;
        width: 170px;
    }
    .bmi-2 input{
        height: 48px;
        width: 170px;
    }
    .bmi-3 input{
        height: 48px;
        width: 170px;
    } 
    .bmi-4 select{
        height: 48px;
        width: 170px;
    }                 
    .bmi-5 select{
        border-radius: 8px;
        width: 340px;
        height: 59px;
        background-color: #FFFFFF1A;
        padding: 12px 20px 12px 20px;
        font-weight: bolder;
        color: #FFFFFF99;
    }
}
.team-head{
    color: #FFFFFF;
    font-weight: 900px;
    font-size: 48px;
    margin-left: 550px;
}
.team-pera{
    color: #FFFFFF80;
    margin-left: 400px;
    margin-bottom: 40px;
}
.team-full-pic{
    background-color: #FFFFFF1A;
    margin-right: 200px;
    position: relative;
}
.team-pic-1{
    border-radius: 18px;
    display: flex;
    margin-left: 200px;
    column-gap: 15px;
    row-gap: 15px;
}
.team-name{
    position: absolute;
    margin-left: 220px;
    top: 200px;
}
.pic-1-name{
    color: #FFFFFF;
    font-weight: 900px;
    font-size: 20px;
}
.pic-1-work{
    color: #FFFFFF80;
}
.team-pic-2{
    border-radius: 18px;
    display: flex;
    margin-left: 200px;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 15px;
}
.pic-2-name{
    color: #FFFFFF;
    font-weight: 900px;
    font-size: 20px;
}
.pic-2-work{
    color: #FFFFFF80;
}
.team-two{
    position: absolute;
    margin-left: 560px;
    top: 200px;
}
.pic-1-code{
    width: 326.67px;
    height: 272px;
    margin-top: 15px;
}
.pic-2-code{
    width: 326.67px;
    height: 272px;
    margin-top: 15px; 
}
.pic-3-name{
    color: #FFFFFF;
    font-weight: 900px;
    font-size: 20px;
}
.pic-3-work{
    color: #FFFFFF80;
}
.team-three{
    position: absolute;
    margin-left: 910px;
    top: 200px;
}
.pic-3-code{
    width: 326.67px;
    height: 272px;
    margin-top: 15px;
}
.pic-4-name{
    color: #FFFFFF;
    font-weight: 900px;
    font-size: 20px;
}
.pic-4-work{
    color: #FFFFFF80;
}
.team-four{
    position: absolute;
    margin-left: 220px;
    top: 480px;
}
.pic-4-code{
    width: 326.67px;
    height: 272px;
}
.pic-5-name{
    color: #FFFFFF;
    font-weight: 900px;
    font-size: 20px;
}
.pic-5-work{
    color: #FFFFFF80;
}
.team-five{
    position: absolute;
    margin-left: 570px;
    top: 480px;
}
.pic-5-code{
    width: 326.67px;
    height: 272px;
}
.pic-6-name{
    color: #FFFFFF;
    font-weight: 900px;
    font-size: 20px;
}
.pic-6-work{
    color: #FFFFFF80;
}
.team-six{
    position: absolute;
    margin-left: 910px;
    top: 480px;
}
.pic-6-code{
    width: 326.67px;
    height: 272px;
}
@media screen and (max-width: 576px) {
    .team-head{
        margin-left: 5px;
    }
    .team-pera{
        margin-left: 5px;
    }
    .team-pic-1{
        flex-direction: column;
        margin-left: 5px;
    }
    .team-pic-2{
        flex-direction: column;
        margin-left: 5px;
    }
    .pic-1-code{
        display: none;
    }
    .pic-4-code{
        display: none;
    }
    .pic-1-name{
        display: none;
    }
    .pic-2-name{
        display: none;
    }.pic-3-name{
        display: none;
    }.pic-4-name{
        display: none;
    }.pic-5-name{
        display: none;
    }
    .pic-6-name{
        display: none;
    }
    .pic-1-work{
        display: none;
    }.pic-2-work{
        display: none;
    }.pic-3-work{
        display: none;
    }
    .pic-4-work{
        display: none;
    }
    .pic-5-work{
        display: none;
    }.pic-6-work{
        display: none;
    }
}
.demo-pera{
    color: aliceblue;
    font-weight: 700px;
    font-size: 40px;
    margin-left: 450px;
}
.demo-pera-1{
    color: #FFFFFF;
    margin-left: 600px;
    margin-bottom: 40px;
}
.demo-pic{
    width: 1060px;
    height: 371px;
    margin-left: 200px;
}
.demo-main{
    position: relative;
}
.demo-3{
    color: orange;
    font-weight: 600px;
    font-size: 30px;
    margin-left: 300px;
    position: absolute;
    top: 80px;
}
.demo-btn{
    color: white;
    font-weight: 700px;
    font-size: 25px;
    background-color: orange;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 148px;
    right: 1010px;
}
@media screen and (max-width: 576px) {
    .demo-pic{
        width: 100%;
        margin-left: 5px;
    }
    .demo-pera{
        margin-left: 5px;
    }
    .demo-pera-1{
        margin-left: 5px;
    }
    .demo-btn{
        display: none;
    }
    .demo-3{
        margin-left: 5px;
    }
}
.footer{
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}
.foot-head{
    color: #FFFFFF80;
    margin-right: 400px;
}
.foot-list{
    color: #FFFFFF80;
    margin-top: 40px;
}
.end-head{
    color: #E6533C;
    font-style: italic;
    font-weight: 800px;
    font-size: 40px;
    margin-left: 50px;
}
.head-pera{
    margin-left: 50px;
}
.foot-list{
    display: flex;
    list-style: none;
    margin-right: 40px;
    row-gap: 3px
}
.one-list{
    margin-right: 90px;
}
.border-last{
    color: #FFFFFF;
    background-color: #222222;
}
.last-pera{
    margin-left: 600px;
    color: #FFFFFF80;
}
.fot-sec-all{
    background-color: #222222;
}
.list-one{
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 35px;
}
.list-fit{
    margin-top: 35px;
}
.list-two{
    font-size: 18px;
    font-weight: bolder;
}
@media screen and (max-width: 576px) {
    .footer{
        margin-right: 5px;
        margin-left: 5px;
        flex-direction: column;
    }
    .foot-head{
        margin-right: 5px;
    }
    .head-pera{
        margin-left: 5px;
        height: 100%;
        width: 100%;
    }
    .foot-list{
        width: 350px;
        flex-direction: column;
        height: 100%;
        margin-left: 45px;
    }
    .last-pera{
        margin-left: 5px;
    }
    .style{
        border-bottom: 2px solid #FFFFFF1A;
        margin-left: 5px;
        margin-right: 5px;
}
